<div class="container">
  <br>
  <br>
  <h1 style="text-align: center;">Productos Disponibles</h1>
  <hr>
  <div class="p-grid"    *ngIf="listProducts; else vacio">
    <div class="p-col" *ngFor="let products of listProducts">
        <p-card header="{{products.name}}" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
          <ng-template pTemplate="header" >
          </ng-template>
          <p>{{products.detail}}</p>
          <p>{{products.price}}</p>
          <div class="form-group col-md-6">
            <button pButton type="button" label="Delete" icon="pi pi-trash" (click)='delete(products.proId)'></button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button pButton type="button" label="Edit" icon="pi pi-user-edit" (click)='edit(products.proId)'  ></button>
        </div>
        </p-card>
    </div>
  </div>
  <ng-template #vacio>
    <h3 style="text-align: center;">No se encontraron productos</h3>
  </ng-template>
</div>
